In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [2]:
data = pd.read_csv('retail_train.zip')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [3]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

In [4]:
data_train.shape[0], data_test.shape[0]

(2278490, 118314)

In [5]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(10)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...
2        6  [920308, 926804, 946489, 1006718, 1017061, 107...
3        7  [840386, 889774, 898068, 909714, 929067, 95347...
4        8  [835098, 872137, 910439, 924610, 992977, 10412...
5        9  [864335, 990865, 1029743, 9297474, 10457112, 8...
6       13  [6534178, 1104146, 829197, 840361, 862070, 884...
7       14  [840601, 867293, 933067, 951590, 952408, 96569...
8       15  [910439, 1082185, 959076, 1023958, 1082310, 13...
9       16                       [1062973, 1082185, 13007710]

In [6]:
def popularity_recommendation(data, n=5):
    """Топ-n популярных товаров"""
    
    popular = data.groupby('item_id')['sales_value'].sum().reset_index()
    popular.sort_values('sales_value', ascending=False, inplace=True)
    
    recs = popular.head(n).item_id
    
    return recs.tolist()

In [7]:
%%time

# Можно так делать, так как рекомендация не зависит от юзера
popular_recs = popularity_recommendation(data_train, n=5)

result['popular_recommendation'] = result['user_id'].apply(lambda x: popular_recs)
result.head(2)

Wall time: 136 ms

,user_id,actual,popular_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[6534178, 6533889, 1029743, 6534166, 1082185]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[6534178, 6533889, 1029743, 6534166, 1082185]"

In [8]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""
    
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [15]:
%%time

items = data_train.item_id.unique()

result['random_recommendation'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(2)

Wall time: 4.08 s

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,[ 821867 834484 856942 865456 889248 ...,"[902280, 1040347, 8358234, 1026240, 966354]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[999999, 1082185, 1029743, 995785, 1004906]"
1,3,[ 835476 851057 872021 878302 879948 ...,"[9803278, 1011678, 876042, 918030, 910697]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[999999, 1082185, 1098066, 6534178, 1127831]"

In [16]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [18]:
popularity.shape

(86865, 2)

In [20]:
all_items_sorted_by_polularity = popularity.sort_values('n_sold', ascending=False).item_id.tolist()
all_items_sorted_by_polularity

[6534178,
 6533889,
 6534166,
 6544236,
 1404121,
 397896,
 1426702,
 5703832,
 480014,
 5668996,
 6410462,
 420647,
 5747420,
 731106,
 5716076,
 707683,
 202291,
 1153346,
 1082185,
 5747233,
 6410464,
 545926,
 995242,
 2848087,
 1388206,
 1029743,
 5712216,
 5850988,
 1133018,
 1106523,
 1007195,
 981760,
 5845857,
 883404,
 1127831,
 2690723,
 866227,
 995785,
 860776,
 951590,
 5569230,
 908531,
 916122,
 826249,
 1098066,
 862349,
 1058997,
 1044078,
 904360,
 840361,
 923746,
 1126899,
 849843,
 961554,
 1005186,
 820165,
 1053690,
 844179,
 844165,
 1070820,
 1065593,
 834484,
 994928,
 833715,
 859075,
 1022003,
 1013321,
 938700,
 854852,
 986947,
 5569471,
 927191,
 1071939,
 1096036,
 1004906,
 986912,
 1080414,
 914190,
 908846,
 962229,
 8090521,
 1085604,
 911878,
 1092026,
 866211,
 1068719,
 878996,
 8090537,
 1081177,
 847270,
 929668,
 1024306,
 909894,
 907014,
 903325,
 910032,
 1095275,
 833025,
 862139,
 962568,
 953476,
 847982,
 999971,
 968215,
 1028816,
 976998,
 845208,
 1053763,
 1050229,
 5568378,
 1124729,
 1062966,
 965766,
 1033142,
 987562,
 930917,
 868764,
 1003600,
 857849,
 1070015,
 1101173,
 1120741,
 933835,
 899624,
 979707,
 1075368,
 822407,
 893018,
 6034857,
 1038217,
 893501,
 1006184,
 879755,
 1055863,
 1003188,
 989101,
 995965,
 9526410,
 901062,
 989075,
 913785,
 1003421,
 1029624,
 5592931,
 951526,
 1056509,
 983584,
 911812,
 1037863,
 1113588,
 1026118,
 925626,
 892008,
 916381,
 1136257,
 12810393,
 896369,
 5569845,
 1039156,
 973861,
 985999,
 1043590,
 1101010,
 1022254,
 1110572,
 824005,
 956609,
 1132763,
 1077555,
 830750,
 1055646,
 1030819,
 6533765,
 824555,
 860975,
 866950,
 1051069,
 9527290,
 940947,
 918733,
 925514,
 1118393,
 1050131,
 999858,
 5590287,
 909714,
 874972,
 1023720,
 1045220,
 987480,
 1022872,
 873627,
 976199,
 9245462,
 5569374,
 1015247,
 900491,
 871756,
 5585510,
 1114597,
 913210,
 890610,
 1033615,
 9245413,
 1050851,
 9526563,
 919644,
 845193,
 1041259,
 1056651,
 970030,
 1074405,
 832678,
 5582789,
 1127624,
 903674,
 880150,
 1119051,
 1076056,
 882441,
 1106301,
 9337581,
 911215,
 5569327,
 1048462,
 834117,
 7167218,
 1105488,
 1037840,
 1122358,
 1077490,
 1023958,
 1051516,
 913202,
 951412,
 1027569,
 976065,
 897954,
 1137688,
 1042438,
 965267,
 1040807,
 865178,
 1110843,
 6773204,
 9553031,
 8090532,
 1000753,
 885290,
 1070702,
 7440663,
 866140,
 870547,
 852864,
 856772,
 908213,
 5584027,
 990797,
 1102959,
 979746,
 999270,
 908318,
 918335,
 883932,
 969866,
 9527487,
 890695,
 1014948,
 1134522,
 879948,
 823704,
 861445,
 863447,
 870780,
 861272,
 912681,
 854405,
 949616,
 1132770,
 1057260,
 872137,
 8160319,
 892920,
 1110793,
 857503,
 5585735,
 1012873,
 1002558,
 1094955,
 1042907,
 1043751,
 987724,
 940766,
 1132771,
 12301109,
 1117514,
 1062002,
 1022981,
 1018740,
 971922,
 8011397,
 944534,
 1119879,
 976300,
 1131438,
 976955,
 862732,
 1049788,
 1077975,
 850841,
 999104,
 835098,
 1058779,
 898980,
 839419,
 1116821,
 981944,
 1020581,
 938566,
 8205218,
 883963,
 947798,
 5585635,
 952317,
 935284,
 1126310,
 972742,
 1076875,
 1128016,
 5587133,
 897125,
 907631,
 1080331,
 867188,
 1036501,
 9526886,
 916993,
 9445919,
 1036432,
 944139,
 1041796,
 1034686,
 10285144,
 995876,
 957951,
 905539,
 939578,
 883003,
 12263788,
 889774,
 1137775,
 993638,
 8065410,
 839147,
 1107553,
 5588666,
 910291,
 939636,
 9527494,
 894236,
 1051211,
 865330,
 12301100,
 900802,
 865456,
 977499,
 999134,
 933637,
 1046262,
 985119,
 833723,
 9677202,
 5584007,
 1096343,
 895540,
 949023,
 843756,
 1055283,
 5568729,
 930118,
 946995,
 825541,
 1071333,
 967395,
 970119,
 944836,
 845705,
 839849,
 821083,
 1089392,
 1061220,
 1041157,
 917494,
 1043301,
 1102949,
 926646,
 1074524,
 916767,
 1052912,
 5591038,
 870515,
 7441391,
 855468,
 853904,
 937626,
 1087102,
 1097001,
 944317,
 856252,
 1037894,
 1083721,
 852317,
 1135768,
 847789,
 1034499,
 5585727,
 910745,
 1012587,
 6602697,
 859010,
 819978,
 951197,
 936594,
 986394,
 973673,
 968417,
 1071377,
 1116578,
 896085,
 1082212,
 905913,
 898068,
 921744,
 974108,
 6463658,
 952981,
 1105623,
 1055853,
 965842,
 894511,
 1130858,
 1138443,
 926905,
 1128665,
 8090509,
 831628,
 911470,
 882305,
 1069415,
 922907,
 937571,
 1001148,
 984715,
 1138189,
 985427,
 1091365,
 879528,
 1123792,
 918368,
 919534,
 912553,
 897306,
 823758,
 1112238,
 1096317,
 1069621,
 865528,
 1115874,
 874736,
 878302,
 928049,
 1098248,
 896613,
 971165,
 9526411,
 868075,
 1009449,
 838186,
 860299,
 1013149,
 982790,
 1072523,
 1127179,
 831536,
 12302069,
 1016800,
 5995423,
 1075470,
 1029112,
 951190,
 1108168,
 9705473,
 863802,
 931671,
 1132280,
 1092948,
 823990,
 1044805,
 7024990,
 8090536,
 864774,
 1020682,
 1111072,
 1076881,
 9420312,
 915621,
 902172,
 5585639,
 848355,
 1027168,
 852856,
 913490,
 1051323,
 1072330,
 937791,
 845537,
 12301405,
 1118533,
 1075707,
 9527158,
 1022843,
 822241,
 1139830,
 885863,
 1077703,
 1022053,
 827180,
 1062128,
 8177622,
 933067,
 1118598,
 1042697,
 9571047,
 908489,
 1045515,
 866871,
 904023,
 985893,
 972569,
 1007191,
 937292,
 1054262,
 1013770,
 1135258,
 988693,
 896862,
 999779,
 1074754,
 1055504,
 5568228,
 980727,
 947068,
 896938,
 1110764,
 5578494,
 936634,
 957063,
 957736,
 873203,
 865891,
 948670,
 920308,
 13511722,
 941741,
 871611,
 9527160,
 970202,
 852486,
 910673,
 963971,
 1053875,
 1075313,
 945779,
 964327,
 819765,
 828867,
 952163,
 934639,
 6944571,
 1056746,
 905582,
 943233,
 893868,
 848015,
 972931,
 1067695,
 9835509,
 895070,
 900072,
 932006,
 982960,
 1010190,
 1128240,
 845307,
 858302,
 1133072,
 819927,
 1019744,
 5584847,
 1038663,
 1071342,
 1100972,
 1073150,
 7167249,
 837107,
 914513,
 1029968,
 7139529,
 948650,
 959985,
 1124674,
 949965,
 851057,
 9245106,
 5568489,
 1084331,
 845078,
 1100658,
 1037332,
 1011884,
 998206,
 998373,
 873178,
 942088,
 836281,
 1104343,
 1110142,
 849202,
 1079987,
 929433,
 932863,
 1033846,
 1123086,
 1022097,
 831815,
 1068292,
 1033913,
 1051305,
 9836903,
 882138,
 952254,
 1055425,
 1105917,
 1129671,
 882830,
 977545,
 842140,
 1101174,
 1025611,
 852035,
 1111839,
 1123842,
 903230,
 1011300,
 1074333,
 999714,
 989069,
 838258,
 1112473,
 5584645,
 915349,
 944137,
 1115576,
 8011282,
 1119761,
 973868,
 7168224,
 935317,
 934676,
 1005609,
 835576,
 834103,
 998444,
 1110244,
 885697,
 902167,
 919948,
 848029,
 917816,
 905868,
 869577,
 1092937,
 1081189,
 981521,
 1033220,
 968932,
 1000237,
 995896,
 993466,
 1095700,
 10121965,
 839656,
 1100410,
 12946027,
 1013928,
 898212,
 906262,
 880427,
 1022119,
 942525,
 820560,
 892531,
 965719,
 1013187,
 7440665,
 5584620,
 827683,
 8090440,
 982493,
 819255,
 844818,
 10344585,
 830887,
 838602,
 944466,
 972312,
 950557,
 959409,
 1095100,
 988791,
 1046545,
 971949,
 847344,
 1009200,
 986760,
 962274,
 5587043,
 6534480,
 1088835,
 893739,
 1039589,
 7409957,
 968072,
 8019716,
 1107289,
 1051093,
 944486,
 873654,
 5591170,
 13115493,
 1040371,
 1076571,
 865705,
 962118,
 909268,
 873874,
 850102,
 953134,
 982469,
 5585636,
 9575181,
 990656,
 921836,
 901666,
 983936,
 839094,
 1005637,
 998119,
 7025106,
 1057102,
 865303,
 897752,
 907994,
 889731,
 861279,
 5583944,
 891954,
 1037451,
 905986,
 874058,
 893400,
 1042544,
 1128647,
 960732,
 863664,
 1122568,
 945273,
 946839,
 960984,
 840601,
 835530,
 1044895,
 7025114,
 991379,
 10285141,
 12262778,
 5586642,
 873527,
 983795,
 1021116,
 878234,
 1127758,
 1108131,
 1078346,
 922127,
 828106,
 1131344,
 921504,
 965331,
 1129576,
 1111230,
 6442594,
 901403,
 1040693,
 1011645,
 848319,
 1012816,
 5586076,
 871440,
 1130777,
 932182,
 859427,
 825343,
 857006,
 890513,
 1075214,
 863337,
 904129,
 848071,
 1005274,
 934427,
 1118787,
 916990,
 961269,
 968774,
 993441,
 1043064,
 890536,
 9913338,
 861701,
 1115175,
 867519,
 1014238,
 1090017,
 846823,
 1082310,
 5580793,
 925112,
 945662,
 873964,
 1088393,
 948232,
 1139827,
 925862,
 1093359,
 872417,
 874149,
 13841744,
 871061,
 833556,
 12648296,
 1123014,
 928754,
 826385,
 1043128,
 1070214,
 6534077,
 964356,
 891141,
 873902,
 1052046,
 1056762,
 1135995,
 957013,
 1098844,
 1029504,
 823721,
 1103741,
 958252,
 1137346,
 5584808,
 1024731,
 843744,
 917033,
 989824,
 1077430,
 7410290,
 908346,
 5569135,
 5574377,
 954966,
 964968,
 8291322,
 825365,
 843306,
 932298,
 1075074,
 882288,
 5591154,
 855310,
 837270,
 934369,
 1048483,
 1088147,
 969568,
 5586942,
 870980,
 5573314,
 9416729,
 1055503,
 896444,
 922318,
 1002771,
 885023,
 9836106,
 1079228,
 5563693,
 908181,
 1135834,
 961979,
 1131550,
 5589247,
 12384365,
 1015539,
 1038985,
 819518,
 951746,
 5588238,
 958137,
 9337369,
 850058,
 863449,
 1059891,
 886703,
 872729,
 6464086,
 1085476,
 825749,
 1118012,
 1102416,
 1003441,
 879635,
 923673,
 10285149,
 901543,
 12301839,
 960318,
 12301073,
 10149640,
 997506,
 9677236,
 1120443,
 991223,
 909396,
 954642,
 1070272,
 845262,
 865174,
 12263692,
 1067606,
 970747,
 1013641,
 12811532,
 849315,
 834833,
 1103629,
 963835,
 848268,
 822785,
 921345,
 849264,
 1007136,
 847573,
 929018,
 866755,
 1076738,
 1123420,
 996070,
 948420,
 9483663,
 6534035,
 932179,
 1126252,
 1077143,
 1026346,
 6533936,
 1124695,
 1127817,
 825994,
 1014675,
 979239,
 1037337,
 880253,
 828935,
 908064,
 1123720,
 912704,
 999581,
 903233,
 902192,
 12384775,
 868423,
 845109,
 829852,
 851676,
 820122,
 995478,
 924610,
 973889,
 991951,
 ...]

In [ ]:
# Заведем фиктивный item_id (если юзер покупал товары из топ-5000, то он "купил" такой товар)
data_train_top5000 = data_train.copy().loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999


user_item_matrix_top5000 = pd.pivot_table(data_train_top5000, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix_top5000[user_item_matrix_top5000 > 0] = 1 # так как в итоге хотим предсказать 
user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

# Оценивание
За выполнени каждого задания 1 балл

4 балла -> отл

3 балла -> хор

И тд

### Задание 0. Товар 999999
На вебинаре мы использовали товар 999999 - это товар, который купили пользователи, если они купиши товар из top5000. Используя этот товар мы смещяем качество рекомендаций. В какую сторону? Уберите этот товар и сравните с качеством на семинаре.

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [10]:
def weighted_random_recommendation(items_weights, n=5):
    """Случайные рекоммендации
    
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    
    # Подсказка: необходимо модифицировать функцию random_recommendation()
    # your_code
        
    items = np.array(item_weight['item_id'])
    weights = np.array(item_weight['weight'])
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

Сделайте предсказания

In [11]:
%%time

# your_code

Wall time: 0 ns

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество?

In [12]:
result = pd.read_csv('predictions_basic.csv')
result.head(2)

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,[ 821867 834484 856942 865456 889248 ...,"[1039767, 9705367, 830271, 2716227, 926763]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[999999, 1082185, 1029743, 995785, 1004906]"
1,3,[ 835476 851057 872021 878302 879948 ...,"[832140, 1077771, 895263, 6424469, 1399822]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[999999, 1082185, 1098066, 6534178, 1127831]"

In [13]:
# your_code

### Задание 3. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.
-  *Попробуйте стратегии ансамблирования изученных алгоритмов

Обязательно нужно сделать первые 2 пункта!

In [14]:
# your_code

### Задание 4. Улучшение детерминированных алгоритмов
На семинаре мы рассматривали

Далее $U \equiv N_i(u) $

$$r_{u,i} =  \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)r_{v, i}$$
$$ S = \sum\limits_{v \in U} \operatorname{sim}(u,v)$$

Предлагается улучшить эту формулу и учесть средние предпочтения всех пользователей

$$r_{u,i} = \mu + \bar{r_u} + \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)(r_{v, i}-\bar{r_{v}} - \mu)$$

Какие смысл имееют $ \mu $ и $ \bar{r_u}$ ?

Реализуйте алгоритм, прогнозирующий рейтинги на основе данной формулы, на numpy (векторизованно!)

В качестве схожести возьмите CosineSimilarity.

Примените к user_item_matrix. В качестве рейтингов возьмите количество или стоимость купленного товара. 
Данный алгоритм предсказывает рейтинги. Как на основании предсказанных рейтингов предсказать факт покупки?

Предложите вариант.
Посчитайте accuracy@5 и сравните с алгоритмами, разобранными на вебинаре.